{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "~": "./src",
          "~components": "./src/components/",
          "~utils": "./src/utils/",
          "~assets": "./src/assets/",
          "~services": "./src/services/",
          "~helpers": "./src/helpers/",
          "~hooks": "./src/hooks/",
          "~pages": "./src/pages/",
          "~contexts": "./src/contexts/"
        }
      }
    ]
  ]
}
