@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single+Ink:wght@100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fira+Code:wght@300..700&display=swap');

@import 'tailwindcss';

@theme {
  --font-display: 'DM Sans', sans-serif;
  --color-primary: #f62682;
}

@layer base {
  body {
    @apply px-5 text-white bg-slate-900 font-display;
  }
}

@layer components {
  .page-container {
    max-width: 1440px;
    @apply mx-auto;
  }
}

.movie-list .swiper-slide {
  width: 300px;
  height: auto;
}

.banner .swiper-slide {
  height: 500px;
}
